.hidden {
display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
.container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container-header {
    display: flex;
        align-items: center;
}

.nav-list,
.address {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
    display: block;
}

.text-color {
    color: #2e2f42;
}

.navigation {
    margin-right: auto;
}

.btn-burger {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-burger {
    fill: #2f2f37;
    display: block;
}

@media screen and (min-width: 768px) {
    .btn-burger {
        display: none;
    }

        .navigation {
            display: flex;
            align-items: center;
        }

        .logo {
            margin-right: 120px;
            padding: 24px 0;
        }

        .nav-list {
            display: flex;
            gap: 40px;
        }

                .nav-link {
                    color: #2e2f42;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 1.5;
                    letter-spacing: 0.02em;
                    padding: 24px 0;
                    display: block;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
        
                .current {
                    position: relative;
                    color: #404BBF;
                }
        
                .current::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    background-color: #404BBF;
                    border-radius: 2px;
                    height: 4px;
                    width: 100%;
                }
        
        
                .nav-link:hover,
                .nav-link:focus {
                    color: #404bbf;
                }

                .address {
                    font-style: normal;
                    display: block;
                }

                .address-list {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                }

                .address-link {
                    display: block;
                        font-size: 12px;
                        line-height: 1.17;
                        letter-spacing: 0.04em;
                        color: #434455;
                        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }

                                .address-link:hover,
                                .address-link:focus {
                                    color: #404bbf;
                                }
}

@media screen and (min-width: 1158px) {
    .logo {
            margin-right: 76px;
        }

                 .address-list {
                     display: flex;
                     flex-direction: row;
                     gap: 40px;
                 }

                 .address-link {
                    font-size: 16px;
                        letter-spacing: 0.02em;
                        line-height: 1.5;
                 }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: #2E2F42;
    z-index: 999;
    visibility: hidden;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-close-btn {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    background-color: transparent;
    padding: 0;
    border-color: #E7E9FC;
    border-radius: 100%;
    border: 1px solid #E7E9FC;
    position: fixed;
    right: 24px;
    top: 24px;
}

.mobile-menu-nav {
    display: flex;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 72px;
    margin-bottom: 168px;
}

.mobile-menu-list {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.mobile-list-link:hover,
.mobile-list-link:focus,
.mobile-list-link:active {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.menu-contact-list-link {
    display: flex;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
}

.menu-contact-list-link:active,
.menu-contact-list-link:hover,
.menu-contact-list-link:focus {
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icons-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}



.mobile-menu-icons-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
}

.mobile-menu-icon {
    width: 24px;
    height: 24px;
}


.hero-container {
    text-align: center;
    display: block;
    justify-content: center;
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;
}

.section-hero{
   background-color: #2E2F42;
   background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
   url(../images/people-office-mob.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


@media screen and (max-width:767px) and (min-resolution: 2dppx),
(min-resolution: 192dpi),
(webkit-min-device-pixel-ratio: 2) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-ob@2x.jpg);
    }
}

.main-title {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.btn-order-service {
    display: block;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order-service:hover,
.btn-order-service:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {
    .hero-container {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab.jpg);
    }
}

    @media screen and (max-width:1199px) and (min-resolution: 2dppx),
    (min-resolution: 192dpi),
    (webkit-min-device-pixel-ratio: 2) {
        .section-hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tab@2x.jpg);
        }
    }

   .hero-container {
       padding-top: 112px;
       padding-bottom: 112px;
       max-width: 768px;
   }

   .main-title {
       max-width: 496px;
       font-size: 56px;
       line-height: 1.07;
       margin-bottom: 36px;
   }

        @media screen and (min-width: 1158px) {
            .hero-container {
                max-width: 1440px;
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
            }
        }
    
            @media screen and (min-resolution: 2dppx),
            (min-resolution: 192dpi),
            (webkit-min-device-pixel-ratio: 2) {
                .section-hero {
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-desktop@2x.jpg);
                }

                                 .hero-container {
                                     padding-top: 188px;
                                     padding-bottom: 188px;
                                     max-width: 1440px;
                                 }
                
                                 .main-title {
                                     margin-bottom: 48px;
                                 }
            }

                        .container-benefits-icons {
                            display: none;
                        }

                        .section-second {
                            padding: 96px 0;
                        }

                 .benefits-list {
             display: flex;
               flex-direction: column;
                     gap: 72px;
                 margin-left: 0;
                   margin-right: 0;
                     align-items: center;
}

   .benefits-list-items {
     display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
}

          .benefits-list-title {
                    font-weight: 700;
              font-size: 36px;
               line-height: 1.11;
               letter-spacing: 0.02em;
              color: #2E2F42;
              margin-bottom: 8px;
}
                            
         .benefits-list-text {
            font-weight: 500;
           font-size: 16px;
            line-height: 1.5;
          letter-spacing: 0.02em;
               color: #434455;
}

@media screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 72px 24px;
        text-align: start;
    }

    .benefits-list-items {
        display: flex;
        flex-basis: calc((100% - 24px) /2);
        align-items: flex-start;
        justify-content: center;
        max-width: 356px;
    }



    .benefits-list-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        margin-bottom: 8px;
    }

    .benefits-list-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
}



                               
                                